{% extends 'core/base.html' %}

{% block content %}
<section class="form-page">
    <h1>{{ titulo }}</h1>

    <div class="form-card">
        <p>
            Tem certeza que deseja excluir
            <strong>{{ object }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="form-actions">
                <a class="btn ghost dark" href="{% url lista_url %}">
                    Cancelar
                </a>

                <button type="submit" class="btn danger-btn">
                    Sim, excluir
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
